<ion-view view-title="active-challenges" ng-init="init()">
  <ion-header-bar align-title="center" class="user_feed_heading">
    <div class="user_feed_heading_logo">

    </div>
  </ion-header-bar>

  <ion-content on-swipe-left="onSwipeLeft()" can-swipe-back="false" class="activeChallenge">
    <div class="bottomContainer" overflow-scroll="true">
      <div ng-show="activeChallenges.length <= 0">
        <div class="noChallenges">
          <h1>No active challenges...</h1>
          <div class="newChallenge" ng-click="createNewChallenge()">
            <h3>Click here to start one!</h3>
          </div>
        </div>
      </div>
    </div>
    <ul class="list">
        <li ng-show="activeChallenges.length > 0" class="user_feed_challenges" data-ng-repeat="challenge in activeChallenges" ng-click="getActiveChallengeContext(challenge)">

          <h1 class="user_feed_challenger_name">{{challenge.name}}</h1>
      <!--     <span class="user_feed_challenger_time" am-time-ago="challenge.expire_at"></span> -->
          <timer end-time="getExpireTime(challenge)" class="active_challenger_time">{{minutes}} minutes, {{seconds}} seconds</timer>
        </li>
    </ul>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="tabs tabs-icon tabs-dark">
      <a class="tab-item" ui-sref="app.user-feed">
        <i class="icon ion-ios-paper-outline"></i>
      </a>
      <a class="tab-item" ui-sref="app.landing">
        <i class="icon ion-home"></i>
      </a>
      <a class="tab-item" ui-sref="app.active-challenges">
        <i class="icon ion-android-wifi"></i>
      </a>
      <a class="tab-item" ui-sref="app.user-profile">
        <i class="icon ion-gear-a"></i>
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
