<ion-view view-title="challenge-in-progress" class="
challenge-in-progress">
  <ion-content overflow-scroll="true" on-swipe-right="onSwipeRight()" can-swipe-back="false">
    <div class="challengeBar">
      <div class="challengeName">CHALLENGE IN PROGRESS</div>
    </div>

    <div class="challengedPlayers">
      <ul ng-repeat="challenger in allChallengers">
        <li>
          <div class="challengerName">
            {{challenger.User.first_name}}
          </div>
          <div class="challengerImage">
            {{challenger.Image}}
          </div>
        </li>
      </ul>
    </div>

   <!--  <div class="row row-wrap" ng-repeat="challenger in allChallengers">
      <div>
        <div>
          {{challenger.Image}}
        </div>
        <div>
          {{challenger.User.first_name}}
        </div>
      </div>
    </div> -->
    <div class="timerBox">
      <div class="timer">
        <timer end-time="expireTime()">{{minutes}} minutes, {{seconds}} seconds.</timer>
      </div>
    </div>

  </ion-content>
</ion-view>




