<ion-view view-title="challenge-in-progress" class="
challenge-in-progress">
  <ion-content overflow-scroll="true" on-swipe-right="onSwipeRight()" can-swipe-back="false">
    <div class="challengeBar">
      <div class="challengeName">CHALLENGE IN PROGRESS</div>
    </div>

    <div class="challengedPlayers">
      <ul ng-repeat="challenger in allChallengers">
        <li>
          <div class="acceptStatus"></div>
          <div class="challengerName">
            <h1>{{challenger.User.first_name}}</h1>
          </div>
          <div class="challengerImage">
            <div class="image" style="background-image: url('https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97200&w=200&h=200')">
              {{challenger.Image}}
            </div>
          </div>
        </li>
      </ul>
    </div>


    <div class="timerBox">
      <div class="timer">
        <timer end-time="expireTime()">{{minutes}} minutes, {{seconds}} seconds</timer>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="tabs tabs-icon tabs-dark">
      <a class="tab-item" ui-sref="app.user-feed">
        <i class="icon ion-ios-paper-outline"></i>
      </a>
      <a class="tab-item">
        <i class="icon ion-home"></i>
      </a>
      <a class="tab-item" ui-sref="app.user-profile">
        <i class="icon ion-gear-a"></i>
      </a>
    </div>
  </ion-footer-bar>
</ion-view>




