<ion-view view-title="challenge-complete" class="challenge-complete">
  <ion-header-bar class="bar-dark">
    <div class="quiltHeader">
      <h3>{{challengeName}}</h3>
    </div>
  </ion-header-bar>
  <ion-content>
    <ul class="quilt">
      <li class="imageHolder"></li>
      <li class="imageHolder"></li>
      <li class="imageHolder"></li>
      <li class="imageHolder"></li>
      <li class="imageHolder"></li>
    </ul>
    <div class="challengers">
      <h3>Completed DATE</h3>
      <p>CHALLENGERS</p>
    </div>
    <div class="newChallenge">
      <div class="newChallengeButton">
        <p>New Challenge</p>
      </div>
    </div>





<!--     <div class="row row-wrap" ng-repeat="challenger in allChallengers">
      <div>
        <div>
          {{challenger.Image}}
        </div>
        <div>
          {{challenger.User.first_name}}
        </div>
      </div>
    </div>


    <div class="col col-33 imageHolder">
      <div class="imageDiv"></div>
    </div>
    <div class="col col-33 imageHolder">
      <div class="imageDiv"></div>
    </div>

    <div class="col col-50 col-offset-25 newChallenge" ui-sref="app.landing">New Challenge</div> -->








  </ion-content>
  <ion-footer-bar>
    <div class="tabs tabs-icon tabs-dark">
      <a class="tab-item" ui-sref="app.user-feed">
        <i class="icon ion-ios-paper-outline"></i>
      </a>
      <a class="tab-item" ui-sref="app.landing">
        <i class="icon ion-home"></i>
      </a>
      <a class="tab-item" ui-sref="app.open-invitations">
        <i class="icon ion-android-wifi"></i>
      </a>
      <a class="tab-item" ui-sref="app.user-profile">
        <i class="icon ion-gear-a"></i>
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
