<ion-view view-title="select-challenger" class="selectChallenger">
  <ion-header-bar class="bar-dark">
    <h3>Give me your info</h3>
  </ion-header-bar>

  <ion-content>


      <input type="text" name="phone" ng-model="user_info.phone">

      <select name="providers" required ng-model="user_info.service_provider" ng-options="provider.name for provider in providers">
        <option value="">-- choose your provider--</option>
      </select>

      <button ng-click="updateUserPhoneInfo(user_info)">Let's Go</button>


  </ion-content>
</ion-view>