<ion-view view-title="contact-info" class="contact-info">
  <ion-header-bar align-title="center" class="bar-dark header-bar">
    <h3 class="title">Contact Information</h3>
  </ion-header-bar>

  <ion-content>
    <div class="welcomeMessage">
      <p>Welcome to SnapDown!  Please enter your 10-digit telephone number and service provider so we can notify you of new challenges!  Thanks!</p>
    </div>

    <form name="get-user-phone-info-form"></form>
      <div class="phNumberDiv">
        <h3>Telephone:</h3>
      </div>
      <input class="numberField" required type="text" placeholder="(xxx)xxx-xxxx" ng-pattern="phoneNumbr" name="phone" ng-model="user_info.phone">

      <div ng-messages="get-user-phone-info-form.link.$error" ng-show="get-user-phone-info-form.link.$touched">
        <p ng-message="pattern">Bad phone number</p>
      </div>

      <select required name="providers"  ng-model="user_info.service_provider" ng-options="provider.name for provider in providers">
        <option value="">-- choose your provider--</option>
      </select>

      <div type="submit" class="submitButton" ng-disabled="get-user-phone-info-form.$invalid" ng-click="updateUserPhoneInfo(user_info)">Ready to Play!</div>


  </ion-content>
</ion-view>