<ion-view view-title="landing" class="landing" >
  <ion-content on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()" can-swipe-back="false">
    <div class="topContainer">
      <div class="logoImage"></div>
      <div class="startChallenge" ng-click="createNewChallenge()">
        <div class="cameraImage">
          <i class="icon ion-ios-camera-outline"></i>
        </div>
        <h1>start challenge</h1>
        <button ng-click="getPhoto()">start camera</button>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="tabs tabs-icon tabs-dark">
      <a class="tab-item" ui-sref="app.user-feed">
        <i class="icon ion-ios-paper-outline"></i>
      </a>
      <a class="tab-item" ui-sref="app.landing">
        <i class="icon ion-home"></i>
      </a>
      <a class="tab-item" ui-sref="app.active-challenges">
        <i class="icon ion-android-wifi"></i>
      </a>
      <a class="tab-item" ui-sref="app.user-profile">
        <i class="icon ion-gear-a"></i>
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
