<ion-view view-title="landing">
  <ion-content on-swipe-left="onSwipeLeft()">
    <div class="startChallenge">Start Challenge</div>
    <div class="feed" ui-sref="app.user-feed">Feed</div>
  </ion-content>
  <ion-footer-bar>
      <div class="tabs tabs-icon-only tabs-positive">
        <a class="col tab-item">
          <i class="icon ion-home"></i>
        </a>
        <a class="col tab-item">

          <i class="icon ion-ios-filing"></i>
        </a>
        <a class="col tab-item">
          <i class="icon ion-gear-a"></i>
        </a>
      </div>
    </ion-footer-bar>
</ion-view>
