<ion-view title="Oauth">
    <ion-content class="login_container">

        <div class="login_logo"></div>

        <div>

          <div class="facebook_heading">
            Login / Register
          </div>
          <div class="facebook_login_button" ng-click="login()">
            Facebook Login
          </div>

          <div class="facebook_subheading">
            <p>Clicking the above button will initiate an official browser sign in flow with Facebook. You will be redirected to the Facebook website to enter your credentials.
            </p>
          </div>
        </div>
    </ion-content>

</ion-view>
