<!-- <ion-view view-title="profile" ng-init="init()">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="{{profileData.picture.data.url}}">
                <h2>{{profileData.name}}</h2>
                <p>{{profileData.id}}</p>
            </div>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-heart"></i>
                {{profileData.relationship_status}}
            </a>
            <div>First name:{{ profileData.first_name }}</div>
            <div>Last name:{{ profileData.last_name }}</div>
            <div>ID:{{ profileData.id }}</div>
            <div>picture {{ profileData.picture.data.url }}</div>
            <div>email {{ profileData.email }}</div>
        </div>
    </ion-content>
</ion-view>
 -->