<ion-view view-title="select-challenger">
  <ion-content class="select-Challenger">

    <div class="challengeBar">
      <div class="xBox">x</div>
      <div class="challengeName">CHALLENGE NAME</div>
    </div>

      <div>{{imageURI}}</div>

    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>

      <div ng-repeat="user in users">
        <label class="checkbox">
        <h2>{{user.first_name}}</h2>
        </label>
          <input type="checkbox" id="{{user.id}}" ng-change="isChecked(bool, user)" ng-model="bool">
      </div>
    <div class="row row-bottom">
      <div class="col col-33 col-offset-33" id="start_challenge" ng-click="sendInvites(); combinedUpdate()">Start Challenge</div>
    </div>

  </ion-content>
</ion-view>
