<ion-view view-title="select-challenger">

  <ion-content class="select-Challenger">

    <div class="select_challenger_head">
      <div class="xBox">X</div>
      <div class="challengeName">challenge.name</div>
    </div>

      <!-- <div>{{imageURI}}</div> -->
    <div>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="searchUsers" placeholder="Search">
      </label>

    </div>

      <div ng-repeat="user in users | filter:searchUsers" class="select_user_row">


        <div class="checkbox">
          <h2 class="challenger_name">{{user.first_name}}</h2>

          <input type="checkbox" name="checkboxes" id="{{user.id}}" ng-change="isChecked(bool, user)" ng-model="bool">
        </div>


      <!--
        <label class="checkbox">
        </label>
          <input class='box' type="checkbox" id="{{user.id}}" ng-change="isChecked(bool, user)" ng-model="bool"> -->
      </div>

    <div class="row row-bottom">
      <div class="start_challenge_button" id="start_challenge" ng-click="sendInvites(); combinedUpdate()">Start Challenge</div>
    </div>

  </ion-content>
</ion-view>
