<ion-view view-title="user-feed" ng-init="init()">
  <ion-header-bar align-title="center" class="user_feed_heading">
    <div class="user_feed_heading_logo">

    </div>
  </ion-header-bar>

  <ion-content on-swipe-left="onSwipeLeft()" can-swipe-back="false" class="user_feed_container">
     <div class="selectChallenger" ui-sref="app.select-challenger">Select Challenger (to be deleted just for testing)</div>
    <div class="challengeComplete" ui-sref="app.challenge-complete">Challenge Complete (to be deleted just for testing)</div>

    <div class="userChallenged" ui-sref="app.user-challenged">User Challenged (to be deleted just for testing)</div>

    <div class="userFeed">
      <ul class="list" ng-repeat="challenge in challenges">
        <li class="user_feed_challenges" ng-class="isActive(challenge)" ng-click="renderChallenge(challenge)">
          <span class="user_feed_challenger_name">{{challenge.name}}</span>
          <timer ng-show="isActive(challenge)" end-time="getExpireTime(challenge)" class="user_feed_challenger_time">
            {{minutes}} minutes, {{seconds}} seconds
          </timer>
          <span ng-hide="isActive(challenge)" class="user_feed_challenger_time" am-time-ago="challenge.time_elapsed"></span>
        </li>
      </ul>
    </div>

  </ion-content>
  <ion-footer-bar>
    <div class="tabs tabs-icon tabs-dark">
      <a class="tab-item">
        <i class="icon ion-ios-paper-outline"></i>
      </a>
      <a class="tab-item" ui-sref="app.landing">
        <i class="icon ion-home"></i>
      </a>
      <a class="tab-item" ui-sref="app.open-invitations">
        <i class="icon ion-android-wifi"></i>
      </a>
      <a class="tab-item" ui-sref="app.user-profile">
        <i class="icon ion-gear-a"></i>
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
