<ion-view view-title="user-challenged">
  <ion-content>
    <h1>User Challenged</h1>
    <div class="row row-wrap" ng-repeat="challenger in allChallengers">
        <div>
          <div>
            {{challenger.Image}}
          </div>
          <div>
            {{challenger.User.first_name}}
          </div>
        </div>
    </div>      
    <div>
      {{timerComplete}}
      <timer class="timer" end-time="expireTime()">{{minutes}} minutes, {{seconds}} seconds.</timer>
    </div>
    <div class="button button-calm col col-50 col-offset-25 " ui-sref="app.landing">Accept Challenge</div>
    <div class="button button-calm col col-50 col-offset-25" ui-sref="app.user-feed">Decline Challenge</div>

  </ion-content>
</ion-view>
