<ion-view view-title="user-feed">
  <ion-content>
    <h1>User Feed</h1>

    <ul class="list">
      <li class="item item-checkbox">
        Active Challenge 1
      </li>
      <li class="item item-checkbox">
        Active Challenge 2
      </li>
      <li class="item item-checkbox">
        Old Challenge 3
      </li>
      <li class="item item-checkbox">
        Old Challenge 4
      </li>
      <li class="item item-checkbox">
        Old Challenge 5
      </li>
      <li class="item item-checkbox">
        Old Challenge 6
      </li>
    </ul>
  </ion-content>
</ion-view>
