<ion-view view-title="user-profile">
  <ion-content class="profile">
    <div class="headerContainer">
      <div class="avatarContainer">
        <div class="avatar" style="background-image: url(http://www.placehold.it/100x100)"></div>
      </div>
      <div class="usernameWrapper">
        <div class="username">
          <h1>Jon Borgonia</h1>
        </div>
        <div class="logout">
          <p>Logout</p>
        </div>
      </div>
    </div>

    <div class="editProfileContainer">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email">
        </label>
      </div>
    </div>

      <div class="statisticsContainer">
        <h1>Statistics</h1>
        <div class="row">
          <div class="col col-25 stats">
            <p>Received</p>
            <div class="requestsBox">10</div>
          </div>
          <div class="col col-25 stats">
            <p>Accepted</p>
            <div class="requestsBox">8</div>
          </div>
          <div class="col col-25 stats">
            <p>Declined</p>
            <div class="requestsBox">2</div>
          </div>
          <div class="col col-25 stats">
            <p>Invites Sent</p>
            <div class="requestBox">7</div>
          </div>
        </div>
      </div>

      <div class="deleteAccount">
        <div class="delete">Delete Account</div>
      </div>

  </ion-content>
  <ion-footer-bar>
    <div class="tabs tabs-icon tabs-dark">
      <a class="tab-item" ui-sref="app.user-feed">
        <i class="icon ion-ios-paper-outline"></i>
      </a>
      <a class="tab-item">
        <i class="icon ion-home" ui-sref="app.landing"></i>
      </a>
      <a class="tab-item" ui-sref="app.challenge-in-progress">
        <i class="icon ion-ios-game-controller-b-outline"></i>
      </a>
      <a class="tab-item">
        <i class="icon ion-gear-a"></i>
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
