<ion-view view-title="user-challenged">
  <ion-content>
    <h1>User Challenged</h1>
    <div class="row row-wrap">
      <div class="col col-33 imageHolder">
        <div class="imageDiv"></div>
      </div>
       <div class="col col-33 imageHolder">
        <div class="imageDiv"></div>
      </div>
       <div class="col col-33 imageHolder">
        <div class="imageDiv"></div>
      </div>
       <div class="col col-33 imageHolder">
        <div class="imageDiv"></div>
      </div>
       <div class="col col-33 imageHolder">
        <div class="imageDiv"></div>
      </div>
    </div>
    <div class="button button-calm col col-50 col-offset-25 " ui-sref="app.landing">Time Remaining</div>
    <div class="button button-calm col col-50 col-offset-25 " ui-sref="app.landing">Accept Challenge</div>
    <div class="button button-calm col col-50 col-offset-25" ui-sref="app.user-feed">Decline Challenge</div>

  </ion-content>
</ion-view>
