<ion-view view-title="user-profile">
  <ion-content on-swipe-right="onSwipeRight()" class="profile">
    <div class="headerContainer">
      <div class="headerContent">
        <div class="avatarContainer">
          <div class="userAvatar" style="background-image:url('{{fb_user.picture}}')"></div>
        </div>
        <div class="usernameWrapper">
          <div class="username">
            <h1>{{fb_user.first_name}} {{fb_user.last_name}}</h1>
          </div>
          <div class="optionsWrapper">
            <div class="logout" ng-click="logout()">
              <p>Logout</p>
            </div>
            <div class="logout" ng-click="update(email,password,phone,phone-carrier)">
              <p>Update</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="editProfileContainer">
      <div class="list">
<!--         <label class="item item-input formColor">
          <span class="input-label" placeholder="Username">Username</span>
          <input type="text">
        </label> -->
        <label class="item item-input formColor">
          <span class="input-label" placeholder="password">Password</span>
          <input type="password" value="password">
        </label>
        <label class="item item-input formColor">
          <span class="input-label" placeholder="email">Email</span>
          <input type="email" value="{{fb_user.email}}">
        </label>
        <label class="item item-input formColor">
          <span class="input-label" placeholder="phonenumber">Phone</span>
          <input type="text" value="(123.456.7890)">
        </label>
        <label class="item item-input formColor">
          <span class="input-label" placeholder="Carrier">Phone-Carrier</span>
          <input type="text" value="T-mobile">
        </label>
      </div>
    </div>


      <div class="statisticsContainer">
        <div class="row">
          <div class="col col-25 stats">
            <p>Started</p>
            <div class="requestsBox">{{fb_user.challenge_start_count}}</div>
          </div>
          <div class="col col-25 stats">
            <p>Received</p>
            <div class="requestsBox">{{fb_user.challenge_received_count}}</div>
          </div>
          <div class="col col-25 stats">
            <p>Accepted</p>
            <div class="requestsBox">{{fb_user.challenge_accepted_count}}</div>
          </div>
          <div class="col col-25 stats">
            <p>Rejected</p>
            <div class="requestsBox">{{fb_user.challenge_rejected_count}}</div>
          </div>
        </div>
      </div>

<!--       <div class="deleteAccount">
        <h3>Delete Account</h3>
      </div> -->
  </ion-content>
  <ion-footer-bar>
    <div class="tabs tabs-icon tabs-dark">
      <a class="tab-item" ui-sref="app.user-feed">
        <i class="icon ion-ios-paper-outline"></i>
      </a>
      <a class="tab-item" ui-sref="app.landing">
        <i class="icon ion-home"></i>
      </a>
      <a class="tab-item" ui-sref="app.user-profile">
        <i class="icon ion-gear-a"></i>
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
