# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
ggtest/
.env
server/config

playstore_instructions_judah.txt
SnapDown.apk
snapdown-release.keystore
.io-config.json
hs_err_pid5966.log