/* Empty. Add your own CSS if you like */
.startChallenge {
  height: 300px;
  width: 300px;
  background-color: red;
  margin: 0 auto;
}

.feed {
  height: 100px;
  width: 300px;
  background-color: blue;
  margin: 0 auto;
}